/* ----------------------------------------------------------------------------------------------
Version 1.2
FILE CSS NÀY CHỨA CÁC THÀNH PHẦN GIAO DIỆN TÁI SỬ DỤNG

Các qui tắc chung:
    Qui tắc đặt tên lớp, id trong CSS, sử dụng qui ước BEM (Block__Element--Modifier):
    Ví dụ:
        .bg--light: lớp nền sáng

Màu sắc
    - Không cần phải nhập lại mã màu nhiều lần, chỉ cần sử dụng biến màu

Bảng màu trong dự án:
Trắng	    #F6F4F0
Đen	        #000000
Xám	        #D3DAD9
Xanh nhạt	#79D7BE
Xanh lá 1	#2E5077
Xanh lá 2	#4DA1A9
Đỏ	        #C8102E
Vàng	    #FFCD00
----------------------------------------------- */
:root {
    /* Màu sắc (màu, color) */
    --color-light: #F6F4F0;
    --color-dark: #000000;
    --color-unavilable: #D3DAD9;
    --color-primary: #2E5077;
    --color-secondary: #4DA1A9;
    --color-thirdly: #79D7BE;
    --color-trending: #C8102E;
    --color-highlight: #FFCD00;

    /* Chữ (font, typography): Bao gồm font, các kích thước liên quan đến chữ  */
    --font-family-base: Montserrat, Tahoma, Arial;

    --font-size-content: 16px;
    --font-size-title: 24px;
    --font-size-heading-1: 18px;
    --font-size-heading-2: 18px;
    --font-size-heading-3: 16px;
    --font-size-heading-4: 16px;

    --spacing-auto: auto;
    --spacing-null: 0px;
    --spacing-sm: 5px;
    --spacing-med: 10px;
    --spacing-lg: 15px;
    --spacing-xl: 20px;

    /* Logo (biểu tượng) */
    --logo-size-large: 150px;
    --logo-size-medium: 100px;
    --logo-size-small: 50px;

    --icon-size-large: 45px;
    --icon-size-medium: 35px;
    --icon-size-small: 25px;

    /* Border (viền) */
    --border-radius-circle: 25px;
    --border-radius-lg: 15px;
    --border-radius-med: 10px;
    --border-radius-sm: 5px;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-thirdly);
}

* {
    margin: var(--spacing-null);
    padding: var(--spacing-null);
    box-sizing: border-box;
}

/* -----------------------------------------------
Kích thước logo, biểu tượng
----------------------------------------------- */
.logo--lg {
    width: var(--logo-size-large);
    max-height: 200px;
    transition:
    transform 1s ease,
    border 1s ease,
    border-radius 1s ease;
}

.logo--med {
    width: var(--logo-size-medium);
    max-height: 150px;
    transition:
    transform 1s ease,
    border 1s ease,
    border-radius 1s ease;
}

.logo--sm {
    width: var(--logo-size-small);
    max-height: 100px;
    transition:
    transform 1s ease,
    border 1s ease,
    border-radius 1s ease;
}

.logo--lg:hover,
.logo--med:hover,
.logo--sm:hover {
    padding: 5px;
    border: 2px solid var(--color-thirdly);
    border-radius: 15px;
    transform: rotate(1deg);
}

.icon--lg {
    width: var(--icon-size-large);
    max-height: 45px;
    transition:
    transform 1s ease,
    border 1s ease,
    border-radius 1s ease;
}

.icon--med {
    width: var(--icon-size-medium);
    max-height: 35px;
    transition:
    transform 1s ease,
    border 1s ease,
    border-radius 1s ease;
}

.icon--sm {
    width: var(--icon-size-small);
    max-height: 25px;
    transition:
    transform 1s ease,
    border 1s ease,
    border-radius 1s ease;
}

.icon--lg:hover,
.icon--med:hover,
.icon--lg:hover {
    padding: 5px;
    border: 2px solid var(--color-thirdly);
    border-radius: 15px;
    transform: rotate(10deg);
}


/* -----------------------------------------------
Container
----------------------------------------------- */
.container--fill {
    background-color: var(--color-primary);
    width: 100%;
}

.container--float {
    background-color: var(--color-primary);
    margin: var(--spacing-xl) var(--spacing-auto);
    width: 80%;
}

/* -----------------------------------------------
Màu nền (background, color)
----------------------------------------------- */
.bg__color--light {
    background-color: var(--color-light);
}

.bg__color--dark {
    background-color: var(--color-dark);
}

.bg__color--primary {
    background-color: var(--color-primary);
}

.bg__color--secondary {
    background-color: var(--color-secondary);
}

.bg__color--thirdly {
    background-color: var(--color-thirdly);
}

.bg__color--trending {
    background-color: var(--color-trending);
}

.bg__color--unavilable {
    background-color: var(--color-unavilable);
}

/* -----------------------------------------------
BORDER (viền)
----------------------------------------------- */
.border__color--primary {
    border: 2px solid var(--color-primary);
}

.border__color--secondary {
    border: 2px solid var(--color-secondary);
}

.border__color--thirdly {
    border: 2px solid var(--color-thirdly);
}

.border__color--trending {
    border: 2px solid var(--color-trending);
}

.border__width--none {
    border-width: 0;
}

.border__radius--circle {
    border-radius: var(--border-radius-circle);
}

.border__radius--lg {
    border-radius: var(--border-radius-lg);
}

.border__radius--med {
    border-radius: var(--border-radius-med);
}

.border__radius--sm {
    border-radius: var(--border-radius-sm);
}

/* -----------------------------------------------
MARGIN
----------------------------------------------- */
.m__px--sm {
    margin: var(--spacing-sm);
}

.m__px--med {
    margin: var(--spacing-med);
}

.m__px--lg {
    margin: var(--spacing-lg);
}

.m__px--xl {
    margin: var(--spacing-xl);
}

.mt__px--sm {
    margin-top: var(--spacing-sm);
}

.mt__px--med {
    margin-top: var(--spacing-med);
}

.mt__px--lg {
    margin-top: var(--spacing-lg);
}

.mt__px--xl {
    margin-top: var(--spacing-xl);
}

.mb__px--sm {
    margin-bottom: var(--spacing-sm);
}

.mb__px--med {
    margin-bottom: var(--spacing-med);
}

.mb__px--lg {
    margin-bottom: var(--spacing-lg);
}

.mb__px--xl {
    margin-bottom: var(--spacing-xl);
}

.ml__px--sm {
    margin-left: var(--spacing-sm);
}

.ml__px--med {
    margin-left: var(--spacing-med);
}

.ml__px--lg {
    margin-left: var(--spacing-lg);
}

.ml__px--xl {
    margin-left: var(--spacing-xl);
}

.mr__px--sm {
    margin-right: var(--spacing-sm);
}

.mr__px--med {
    margin-right: var(--spacing-med);
}

.mr__px--lg {
    margin-right: var(--spacing-lg);
}

.mr__px--xl {
    margin-right: var(--spacing-xl);
}

.my__px--sm {
    margin: var(--spacing-sm) 0;
}

.my__px--med {
    margin: var(--spacing-med) 0;
}

.my__px--lg {
    margin: var(--spacing-lg) 0;
}

.my__px--xl {
    margin: var(--spacing-xl) 0;
}

.mt__auto {
    margin: var(--spacing-auto) 0;
}

.mx__px--sm {
    margin: 0 var(--spacing-sm);
}

.mx__px--med {
    margin: 0 var(--spacing-med);
}

.mx__px--lg {
    margin: 0 var(--spacing-lg);
}

.mx__px--xl {
    margin: 0 var(--spacing-xl);
}

.mx__auto {
    margin: 0 var(--spacing-auto);
}

/* -----------------------------------------------
PADDING
----------------------------------------------- */
.p__px--sm {
    padding: var(--spacing-sm);
}

.p__px--med {
    padding: var(--spacing-med);
}

.p__px--lg {
    padding: var(--spacing-lg);
}

.p__px--xl {
    padding: var(--spacing-xl);
}

.pt__px--sm {
    padding-top: var(--spacing-sm);
}

.pt__px--med {
    padding-top: var(--spacing-med);
}

.pt__px--lg {
    padding-top: var(--spacing-lg);
}

.pt__px--xl {
    padding-top: var(--spacing-xl);
}

.pb__px--sm {
    padding-bottom: var(--spacing-sm);
}

.pb__px--med {
    padding-bottom: var(--spacing-med);
}

.pb__px--lg {
    padding-bottom: var(--spacing-lg);
}

.pb__px--xl {
    padding-bottom: var(--spacing-xl);
}

.pl__px--sm {
    padding-left: var(--spacing-sm);
}

.pl__px--med {
    padding-left: var(--spacing-med);
}

.pl__px--lg {
    padding-left: var(--spacing-lg);
}

.pl__px--xl {
    padding-left: var(--spacing-xl);
}

.pr__px--sm {
    padding-right: var(--spacing-sm);
}

.pr__px--med {
    padding-right: var(--spacing-med);
}

.pr__px--lg {
    padding-right: var(--spacing-lg);
}

.pr__px--xl {
    padding-right: var(--spacing-xl);
}

.py__px--sm {
    padding: var(--spacing-sm) 0;
}

.py__px--med {
    padding: var(--spacing-med) 0;
}

.py__px--lg {
    padding: var(--spacing-lg) 0;
}

.py__px--xl {
    padding: var(--spacing-xl) 0;
}

.py__auoto {
    padding: var(--spacing-auto) 0;
}

.px__px--sm {
    padding: 0 var(--spacing-sm);
}

.px__px--med {
    padding: 0 var(--spacing-med);
}

.px__px--lg {
    padding: 0 var(--spacing-lg);
}

.px__px--xl {
    padding: 0 var(--spacing-xl);
}

.py__auto {
    padding: 0 var(--spacing-auto);
}

/* -----------------------------------------------
WIDTH
----------------------------------------------- */
.w-fit {
    width: fit-content;
}

.w-max {
    width:max-content;
}

.w-min {
    width: min-content;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* -----------------------------------------------
HEIGHT
----------------------------------------------- */
.h-fit {
    height: fit-content;
}

.h-max {
    height: max-content;
}

.h-min {
    height: min-content;
}

.h-100 {
    height: 100%;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}

/* -----------------------------------------------
Định dạng chữ (chữ, font)
----------------------------------------------- */
.text__style--title {
    text-align: center;
    font-size: var(--font-size-title);
    font-family: var(--font-family-base);
    font-weight: bold;
}

.text__style--heading-1 {
    text-align: left;
    font-size: var(--font-size-heading-1);
    font-family: var(--font-family-base);
    font-weight: bold;
}

.text__style--heading-2 {
    text-align: left;
    font-size: var(--font-size-heading-2);
    font-family: var(--font-family-base);
    font-weight: bold;
}

.text__style--heading-3 {
    text-align: left;
    font-size: var(--font-size-heading-3);
    font-family: var(--font-family-base);
    font-weight: bold;
    font-style: italic;
}

.text__style--heading-4 {
    text-align: left;
    font-size: var(--font-size-heading-4);
    font-family: var(--font-family-base);
    font-style: italic;
}

.text__style--content {
    text-align: justify;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
}

.text__color--dark,
.text__color--content {
    color: var(--color-dark);
}

.text__color--light {
    color: var(--color-light)
}

.text__color--primary {
    color: var(--color-primary);
}

.text__color--secondary {
    color: var(--color-secondary);
}

.text__color--thirdly {
    color: var(--color-thirdly);
}

.text__color--trending {
    color: var(--color-trending);
}

.text__align--center {
    text-align: center;
}

.text__align--left {
    text-align: left;
}

.text__align--right {
    text-align: right;
}

.text__align--justify {
    text-align: justify;
}

.text__decoration--none {
    text-decoration: none;
}

.text__decoration--underline {
    text-decoration: underline;
}

.text__transform--upper {
    text-transform: uppercase;
}

.text__transform--lower {
    text-transform: lowercase;
}

.text__transform--capital {
    text-transform: capitalize;
}

/* -----------------------------------------------
Liên kết (link, url)
----------------------------------------------- */
.link__normal {
    color: var(--color-dark);
    transition:
    text-transform 1s ease,
    text-shadow 1s ease;
}

.link--none {
    color: var(--color-dark);
    text-decoration: none;
    transition:
    color 1s ease,
    text-shadow 1s ease;
}

.link--normal:hover,
.link--none:hover {
    color: var(--color-light);
    text-transform: uppercase;
    text-shadow: 2px 2px 10px var(--color-light);
    transition: color 1s ease;
}

.link--normal:active,
.link--none:active {
    color: var(--color-trending);
}

.link--normal:visited,
.link--none:visited {
    color: var(--color-thirdly);
    transition: color 1s ease;
}

/* -----------------------------------------------
Danh sách (list)
----------------------------------------------- */
.list__ul--normal {
    list-style-type: "- ";
    list-style-position: inside;
}

.list__ol--normal {
    list-style-type: upper-greek;
    list-style-position: inside;
}

.list__style--none {
    list-style-type: none;
}

/* -----------------------------------------------
Bảng (table)
----------------------------------------------- */
.table, .table__row, .table__heading, .table__items {
    border: 2px solid var(--color-dark);
    border-collapse: collapse;
    font-family: var(--font-family-base);
}

.table__heading {
    padding: 2px;
    font-weight: bold;
}

.table__items {
    padding: 2px;
}

.table__container {
    overflow-x: auto;
}

.table__style--border-outside {
    border: 2px solid var(--color-dark);
}

.table__style--border-underline {
    border-bottom: 2px solid var(--color-dark);
}

.table__style--zebra-odd:nth-child(odd) {
    background-color: var(--color-unavilable);
}

.table__style--zebra-even:nth-child(even) {
    background-color: var(--color-unavilable);
}

.table__content-align--top {
    vertical-align: top;
}

.table__content-align--mid {
    vertical-align: middle;
}

.table__content-align--bot {
    vertical-align: bottom;
}

/* -----------------------------------------------
Hiển thị (display)
----------------------------------------------- */
.display__block {
    display: block;
}

.display__none {
    display: none;
}

.display__inline {
    display: inline;
}

.display__inline-blox {
    display: inline-block;
}

.display__flex {
    display: flex;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--no-wrap {
    flex-wrap: nowrap;
}

.flex__direction--column {
    flex-direction: column;
}

.flex__direction--row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.align-items-left {
    align-items: start;
}

.align-items-right {
    align-items: end;
}
/* -----------------------------------------------
Thanh công cụ (Navigation Bar, NavBar)
----------------------------------------------- */
.navbar {
    background-color: var(--color-secondary);
    color: var(--color-dark);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

/* Lớp navbar__item--pinned dùng để chọn phần thử muốn ghim khi thay đổi navbar ở kích thước nhỏ hơn */
.navbar__item,
.navbar__item--pinned {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar__item * {
    margin: var(--spacing-sm);
}

.navbar--vertical .navbar__items,
.navbar--vertical .navbar__items * {
    color: var(--color-light);
    padding: 5px;
    display: block;
    text-decoration: none;
}

.navbar--vertical .navbar__items:hover:not(.active),
.navbar--vertical .navbar__items *:hover:not(.active) {
    background-color: var(--color-primary);
    color: var(--color-light);
}

/* https://www.w3schools.com/css/css_navbar_vertical.asp */
@media screen and (max-width: 420px) {
    /* Thay đổi trên các thiết bị di động có chiều ngang khoảng 420px */
    header #logo_centered {
        display: block;
    }

    header #logo_vn {
        display: none;
    }

    .navbar .navbar__item{
        display: none;
    }

    .navbar .navbar__item--pinned {
        padding: 10px;
        height: 100px;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .navbar .navbar__item{
        display: none;
    }

    .navbar .navbar__item--pinned {
        padding: 10px;
        height: 100px;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 910px) {
    header #logo_centered {
        display: none;
    }

    header #logo_vn {
        display: block;
    }
}

/* -----------------------------------------------
Nút (button)
Còn thiếu :active
----------------------------------------------- */
.btn--primary {
    background-color: var(--color-secondary);
    color: var(--color-light);
    margin: var(--spacing-med);
    border: 2px solid var(--color-secondary);
    border-radius: 15px;
    font-family: var(--font-family-base);
    font-size: var(--font-size-content);
    text-align: center;
    cursor: pointer;
    transition:
    background-color 1s ease,
    transform 0.5s ease,
    box-shadow 1s ease;
}

.btn--primary-hollow {
    background-color: transparent;
    color: var(--color-light);
    margin: var(--spacing-med);
    border: 2px solid var(--color-secondary);
    border-radius: 15px;
    font-family: var(--font-family-base);
    font-size: var(--font-size-content);
    text-align: center;
    cursor: pointer;
    transition:
    background-color 1s ease,
    transform 0.5s ease,
    box-shadow 1s ease;
}

.btn--primary:hover,
.btn--primary-hollow:hover {
    background-color: var(--color-thirdly);
    color: var(--color-primary);
    border-radius: 25px;
    text-transform: uppercase;
    transform: translate(0px, -5px);
    box-shadow: 2px 2px 20px var(--color-dark);
    transition:
    background-color 1s ease,
    transform 0.5s ease,
    box-shadow 1s ease;
}

.btn--trending {
    background-color: var(--color-trending);
    color: var(--color-highlight);
    margin: var(--spacing-med);
    border: 2px solid var(--color-trending);
    border-radius: 15px;
    font-family: var(--font-family-base);
    font-size: var(--font-size-content);
    text-align: center;
    cursor: pointer;
    transition:
    background-color 1s ease,
    transform 0.5s ease,
    box-shadow 1s ease;
}

.btn--trending-hollow {
    background-color: transparent;
    color: var(--color-highlight);
    margin: var(--spacing-med);
    border: 2px solid var(--color-trending);
    border-radius: 15px;
    font-family: var(--font-family-base);
    font-size: var(--font-size-content);
    text-align: center;
    cursor: pointer;
    transition:
    background-color 1s ease,
    transform 0.5s ease,
    box-shadow 1s ease;
}

.btn--trending:hover,
.btn--trending-hollow:hover {
    background-color: var(--color-highlight);
    color: var(--color-trending);
    border-radius: 25px;
    text-transform: uppercase;
    transform: translate(0px, -5px);
    box-shadow: 2px 2px 20px var(--color-dark);
    transition:
    background-color 1s ease,
    transform 0.5s ease,
    box-shadow 1s ease;
}

/* -----------------------------------------------
Đường kẻ (line)
----------------------------------------------- */
.vertical-line--light {
    border: 1px solid var(--color-light);
    min-height: 50%;
    max-height: 75%;
}

.vertical-line--dark {
    border: 1px solid var(--color-dark);
    min-height: 50%;
    max-height: 75%;
}

.horizontal-line--light {
    border-top: 1px solid var(--color-light);
    min-width: 50%;
    max-width: 75%;
}

.horizontal-line--dark {
    border-top: 1px solid var(--color-dark);
    min-width: 50%;
    max-width: 75%;
}

/* -----------------------------------------------
Card (thẻ)
----------------------------------------------- */
.card {
    background-color: var(--color-light);
    color: var(--color-light);
    max-width: 300px;
    display: block;
    padding: var(--spacing-med);
    font-family: var(--font-family-base);
    transition:
    transform 1s ease,
    box-shadow 1s ease;
}

.card:hover {
    transform: translate(0px, -5px);
    box-shadow: 2px 2px 10px var(--color-dark);
}

.card__img {
    margin: var(--spacing-med);
    max-width: 200px;
    min-width: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    transition: transform 1s ease;
}

.card__img:hover {
    transform: rotate(2deg);
}

.card__title {
    color: var(--color-dark);
    margin: var(--spacing-sm);
    max-width: 300px;
    text-align: center;
    font-weight: bolder;
    font-family: var(--font-family-base);
    font-size: var(--font-size-title);
}

.card__content {
    color: var(--color-dark);
    max-width: 300px;
    text-align: justify;
    font-family: var(--font-size-base);
    font-size: var(--font-size-content);
}

@media screen and (max-width: 420px) {
    .card__title {
        font-size: var(--font-size-heading-1);
    }

    .card__content {
        display: none;
    }
}

/* -----------------------------------------------
Form (biểu mẫu, input)
----------------------------------------------- */
.form {
    background-color: var(--color-unavilable);
    color: var(--color-secondary);
    margin: 10px auto;
    padding: var(--spacing-lg);
    width: 25%;
    border: 5px solid var(--color-secondary);
    border-radius: 15px;
}

.form__label {
    margin: var(--spacing-med);
    font-family: var(--font-family-base);
    font-size: var(--font-size-content);
}

.form__input {

}