/* ----------------------------------------------------------------------------------------------
Version 1.2
FILE CSS NÀY LÀ MÃ NGUỒN GIAO DIỆN CHO TRANG WEB
---------------------------------------------------------------------------------------------- */

header > *,
footer > * {
    margin: 20px 0;
    min-width: 300px;
}

header button {
    min-width: 100px;
    max-width: 150px;
}

footer > div {
    width: 25%;
    min-width: 250px;
}

@media screen and (max-width: 420px) {
    footer {
        flex-direction: column !important;
    }

    footer > div {
        width: 100%;
    }
}