/* ----------------------------------------------------------------------------------------------
Version 1.2
FILE CSS NÀY LÀ MÃ NGUỒN GIAO DIỆN CHO TRANG WEB
---------------------------------------------------------------------------------------------- */

body {
    background-image: linear-gradient(to top left, #F6F4F0, #D3DAD9);
}

#trending_news {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}