/* START LIT-523023
:root{
--primary-color: blue;
--light-color: green;
--lighter-color: white;
--diff-color: orange;
--lightfontcolor: hsla(0,0%,100%,.87);   

--darkfontcolor:#333;

}

.acmjcss{
    --primary-color: #ef3340;
    --light-color: #ec5f69;
    --lighter-color: #eb858c;
    --diff-color: #66b966;
    --banner: url(https://dl.acm.org/pb-assets/images/journalbanner/journal-banner-inner--acmjcss.svg);

}


.acmjcss .sub-nav, .acmjcss .sub-nav__holder{
    background-color: var(--primary-color);    
}

.acmjcss .sub-nav__holder .menu-parent .sub-items-list .dropdown__menu{
    background-color: var(--lighter-color);
}

.acmjcss .sub-nav .dropdown__menu .sub-nav__item{
    border-color:var(--light-color);;
}

.acmjcss .sub-nav__item{
    color: var(--lightfontcolor);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
}
.acmjcss .sub-nav__holder .menu-parent .sub-items-list .dropdown__menu .sub-nav__item{
    color: var(--darkfontcolor);
    text-shadow: none;
}

.acmjcss .banner__holder:before{
    background-image: var(--banner);
}

.acmjcss .left-bordered-title:before{
	background-color: var(--primary-color);
}

.acmjcss .colored-block__title h4:not(.left-bordered-title){
	border-color: var(--primary-color);
}
END LIT-523023 */

/* START LIT-572143

@media (max-width: 767px) {
	.queue .banner__holder:before {
		background-image:url(/specs/products/acm/releasedAssets/images/magazine-banner-mobile--queue-colors.svg)!important
	}
}
END LIT-572143 */

/*START ACM-2372*/
.listgroup.top .list-id{
    vertical-align: top;
}

.listgroup.bottom .list-id{
    vertical-align: bottom;
}
/*END ACM-2372*/

/*START LIT-458823*/
.recent-issues-proceedings__title {
    margin-bottom: 15px;
}
/*END LIT-458823*/

.people-list-container a:visited{
    color: #8347a1;
}

.issue-item__content-right .loa a:visited span{
    color: #8347a1;
}
/* ACM-2535
section.biography figure img{
	max-width: 100px;
}

section.biography figure{
	float: left;
	margin-right: 10px;
} */


/*ACM-2558*/
@media(max-width: 991px){
    .two-columns ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
}

@media (min-width: 992px) {
    .two-columns ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
       display:grid;
       grid-auto-flow:column;
       grid-column-gap: 10px;
    }
}


/*ACM-2656 #10*/
.math-formula {
    margin-top: 20px;
}

/*ACM-2656 #11*/
.highlight-grey{
    background-color: #d3d3d3;
}


/*ACM-2591*/
.article__body .hlFld-Fulltext .pull-quote p{
    line-height: 2.125rem;
    font-weight:700;
    font-size: 1.1rem;
}


/*ACM-2785*/

table[list-type="arrow-right"] td.list-id{
    width:6%;
}

table[list-type="arrow-right"] td p{
    margin: 3px;
}


table[list-type="arrow-right"] td{
    padding:0;
    padding-left:17px;
}

/*Cookiebot link color*/
.cookiebot-link a {
	color: #0077c2;
	text-decoration: underline;
}

/*auto-classified disclaimer text*/
.disclaimer {
	font-weight: 600;
	margin-bottom: 2rem;
}

/* ACM-3580: disappear Google indexing links
.after-credits a {
	color: #fff;
}

.after-credits .spacer {
	display: none;
}
END ACM-3580 */

/* LIT-598923
.slideShow .owl-item:focus-within {
  box-shadow: none;
}

.js--keyboard-on .slideShow .owl-item:focus-within{
  box-shadow: -0.25rem 0 0.375rem 0.125rem #9e8d10, 0.25rem 0 0.375rem 0.125rem #9e8d10;
}
END LIT-598923 */