.glsvlsi {
    --primary-color: #a41953;
    --light-color: #c86b8b;
    --lighter-color: #eccad4;
    --diff-color: #6e8a4a;
    --nav-font-color: #ffffff;
}
.fse {
    --primary-color: #007d4a;
    --light-color: #72be9d;
    --lighter-color: #a7d6c1;
    --diff-color: #b6491d;
    --nav-font-color: #ffffff;
}
.islped{
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
}
.gecco {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}
.gis {
    --primary-color: #926e42;
    --light-color: #c69a2f;
    --lighter-color: #e0d02b;
    --diff-color: #304e62;
    --nav-font-color: #ffffff;
}
.iccad {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
}
.ih-n-mmsec {
    --primary-color: #926e42;
    --light-color: #c69a2f;
    --lighter-color: #e0d02b;
    --diff-color: #304e62;
    --nav-font-color: #ffffff;
}
.nossdav {
    --primary-color: #1975ae;
    --light-color: #79c6e2;
    --lighter-color: #b2d9e8;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.etra {
    --primary-color: #1975ae;
    --light-color: #79c6e2;
    --lighter-color: #b2d9e8;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.pads {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
}
.pepm {
    --primary-color: #007d4a;
    --light-color: #72be9d;
    --lighter-color: #a7d6c1;
    --diff-color: #b6491d;
    --nav-font-color: #ffffff;
}
.pldi {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}
.podc {
    --primary-color: #a41953;
    --light-color: #c86b8b;
    --lighter-color: #eccad4;
    --diff-color: #6e8a4a;
    --nav-font-color: #ffffff;
}
.plop {
    --primary-color: #926e42;
    --light-color: #c69a2f;
    --lighter-color: #e0d02b;
    --diff-color: #304e62;
    --nav-font-color: #ffffff;
}
.uccs {
    --primary-color: #926e42;
    --light-color: #c69a2f;
    --lighter-color: #e0d02b;
    --diff-color: #304e62;
    --nav-font-color: #ffffff;
}
.foga {
    --primary-color: #813c83;
    --light-color: #ae83ae;
    --lighter-color: #dc98ae;
    --diff-color: #91986d;
    --nav-font-color: #ffffff;
}
.pact {
    --primary-color: #813c83;
    --light-color: #ae83ae;
    --lighter-color: #dc98ae;
    --diff-color: #91986d;
    --nav-font-color: #ffffff;
}
.fpga {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
}
.npar {
    --primary-color: #19513b;
    --light-color: #318050;
    --lighter-color: #8cbfa1;
    --diff-color: #773d25;
}
.eurosys {
    --primary-color: #19513b;
    --light-color: #318050;
    --lighter-color: #8cbfa1;
    --diff-color: #773d25;
    --nav-font-color: #ffffff;
}

.search-result--tile {
    --primary-color: #1975ae;
}
.cgo {
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
}
.bcb {
    --primary-color: #926e42;
    --light-color: #c69a2f;
    --lighter-color: #e0d02b;
    --diff-color: #304e62;
    --nav-font-color: #ffffff;
}
.sac {
    --primary-color: #4b7d6c;
    --light-color: #98bcb0;
    --lighter-color: #dae8e4;
    --diff-color: #e08f66;
    --nav-font-color: #ffffff;
}
.hpg {
    --primary-color: #3b6963;
    --light-color: #7c9795;
    --lighter-color: #c9d3d3;
    --diff-color: #e08f66;
    --nav-font-color: #ffffff;
}
.sacmat {
    --primary-color: #3b6963;
    --light-color: #7c9795;
    --lighter-color: #c9d3d3;
    --diff-color: #e08f66;
    --nav-font-color: #ffffff;
}
.ase {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.icmi-mlmi {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.spaa {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.gpce {
    --primary-color: #115878;
    --light-color: #2e7ba6;
    --lighter-color: #8bd5e5;
    --diff-color: #be6f13;
    --nav-font-color: #ffffff;
}
.popl {
    --primary-color: #115878;
    --light-color: #2e7ba6;
    --lighter-color: #8bd5e5;
    --diff-color: #be6f13;
    --nav-font-color: #ffffff;
}
.group {
    --primary-color: #2f7d2f;
    --light-color: #79ba6f;
    --lighter-color: #dbecd4;
    --diff-color: #803838;
    --nav-font-color: #ffffff;
}
.ppopp {
    --primary-color: #2f7d2f;
    --light-color: #79ba6f;
    --lighter-color: #dbecd4;
    --diff-color: #803838;
    --nav-font-color: #ffffff;
}
.hotmobile {
    --primary-color: #005b6f;
    --light-color: #438b9f;
    --lighter-color: #b6ced6;
    --diff-color: #b35900;
    --nav-font-color: #ffffff;
}
.recsys {
    --primary-color: #005b6f;
    --light-color: #438b9f;
    --lighter-color: #b6ced6;
    --diff-color: #b35900;
    --nav-font-color: #ffffff;
}
.hpdc {
    --primary-color: #4b7d6c;
    --light-color: #98bcb0;
    --lighter-color: #dae8e4;
    --diff-color: #e08f66;
    --nav-font-color: #ffffff;
}
.sensys {
    --primary-color: #005b6f;
    --light-color: #6c9ecb;
    --lighter-color: #a4c1df;
    --diff-color: #b35900;
    --nav-font-color: #ffffff;
}
.hri {
    --primary-color: #a02a1c;
    --light-color: #c2745d;
    --lighter-color: #e7c6b8;
    --diff-color: #457852;
    --nav-font-color: #ffffff;
}
.tallip {
    --primary-color: #a02a1c;
    --light-color: #c2745d;
    --lighter-color: #e7c6b8;
    --diff-color: #457852;
    --nav-font-color: #ffffff;
}
.ht {
    --primary-color: #a02a1c;
    --light-color: #c2745d;
    --lighter-color: #e7c6b8;
    --diff-color: #457852;
    --nav-font-color: #ffffff;
}
.sbcci {
    --primary-color: #a02a1c;
    --light-color: #c2745d;
    --lighter-color: #e7c6b8;
    --diff-color: #457852;
    --nav-font-color: #ffffff;
}
.sc {
    --primary-color: #a02a1c;
    --light-color: #c2745d;
    --lighter-color: #e7c6b8;
    --diff-color: #457852;
    --nav-font-color: #ffffff;
}
.i3d {
    --primary-color: #005a9e;
    --light-color: #6c9ecb;
    --lighter-color: #a4c1df;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.sca {
    --primary-color: #005a9e;
    --light-color: #6c9ecb;
    --lighter-color: #a4c1df;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.icac {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.sensys {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.acm-se {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #91986d;
    --nav-font-color: #ffffff;
}
.ice {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #91986d;
    --nav-font-color: #ffffff;
}

.slip {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #91986d;
    --nav-font-color: #ffffff;
}

.ancs {
    --primary-color: #317f90;
    --light-color: #96c7d6;
    --lighter-color: #d9eaf0;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.icer {
    --primary-color: #317f90;
    --light-color: #96c7d6;
    --lighter-color: #d9eaf0;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.soda {
    --primary-color: #317f90;
    --light-color: #96c7d6;
    --lighter-color: #d9eaf0;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.apgv {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
}
.icfp {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
}
.sosp {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
}
.ase {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.icmi-mlmi {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}
.spaa {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
}

.asia-ccs {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}

.icpe {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}

.splash {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}

.aspdac {
    --primary-color: #a41953;
    --light-color: #c86b8b;
    --lighter-color: #eccad4;
    --diff-color: #6e8a4a;
    --nav-font-color: #ffffff;
}

.ics {
    --primary-color: #a41953;
    --light-color: #c86b8b;
    --lighter-color: #eccad4;
    --diff-color: #6e8a4a;
    --nav-font-color: #ffffff;
}

.stoc {
    --primary-color: #a41953;
    --light-color: #c86b8b;
    --lighter-color: #eccad4;
    --diff-color: #6e8a4a;
    --nav-font-color: #ffffff;
}

.asplos {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #9ba374;
    --nav-font-color: #ffffff;
}
.icse {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #9ba374;
    --nav-font-color: #ffffff;
}
.sui {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #9ba374;
    --nav-font-color: #ffffff;
}
.assets {
    --primary-color: #33461c;
    --light-color: #737d5f;
    --lighter-color: #c5c9bb;
    --diff-color: #7e495f;
    --nav-font-color: #ffffff;
}
.icuimc {
    --primary-color: #33461c;
    --light-color: #737d5f;    
    --lighter-color: #c5c9bb;
    --diff-color: #7e495f;
    --nav-font-color: #ffffff;
}
.sub-nav .dropdown__toggle[title="More"]{
    color: var(--nav-font-color);
}
.sub-nav .dropdown__toggle i{
    color: var(--nav-font-color);
}

.sub-nav .dropdown-more .dropdown__menu{
    background-color: var(--dropdown-background-color);
}
.tei {
    --primary-color: #33461c;    
    --light-color: #737d5f;
    --lighter-color: #c5c9bb;
    --diff-color: #7e495f;
    --nav-font-color: #ffffff;
}
.aus-ce {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.ideas {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.ubicomp {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.c-n-c {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
}
.imc {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
}
.uist {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
}
.ccs {
    --primary-color: #a0501b;
    --light-color: #c38761;
    --lighter-color: #e7cfbc;
    --diff-color: #116655;
    --nav-font-color: #ffffff;
}
.ir {
    --primary-color: #a0501b;
    --light-color: #c38761;
    --lighter-color: #e7cfbc;
    --diff-color: #116655;
    --nav-font-color: #ffffff;
}
.valuetools {
    --primary-color: #a0501b;
    --light-color: #c38761;
    --lighter-color: #e7cfbc;
    --diff-color: #116655;
    --nav-font-color: #ffffff;
}
.cf {
    --primary-color: #1975ae;
    --light-color: #79c6e2;
    --lighter-color: #b2d9e8;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.isca {
    --primary-color: #1975ae;    
    --light-color: #79c6e2;
    --lighter-color: #b2d9e8;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.vrst {
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
}
.chi {
    --primary-color: #cb2a3f;
    --light-color: #f16c6d;
    --lighter-color: #fbd6d0;
    --diff-color: #769f68;
    --nav-font-color: #ffffff;
}
.ismm {
    --primary-color: #d53247;
    --light-color: #f16c6d;
    --lighter-color: #fbd6d0;
    --diff-color: #769f68;
    --nav-font-color: #ffffff;
}
.web3d {
    --primary-color: #d53247;
    --light-color: #f16c6d;
    --lighter-color: #fbd6d0;
    --diff-color: #769f68;
    --nav-font-color: #ffffff;
}
.cikm {
    --primary-color: #00509e;
    --light-color: #6b80ba;
    --lighter-color: #c4c9e3;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.ispd {
    --primary-color: #00509e;
    --light-color: #6b80ba;
    --lighter-color: #c4c9e3;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.websci {
    --primary-color: #00509e;
    --light-color: #6b80ba;
    --lighter-color: #c4c9e3;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.codaspy {
    --primary-color: #318181;
    --light-color: #87c4c4;
    --lighter-color: #dff1f0;
    --diff-color: #e0965b;
    --nav-font-color: #ffffff;
}
.issta {
    --primary-color: #318181;
    --light-color: #87c4c4;
    --lighter-color: #dff1f0;
    --diff-color: #e0965b;
    --nav-font-color: #ffffff;
}
.wisec {
    --primary-color: #318181;
    --light-color: #87c4c4;
    --lighter-color: #dff1f0;
    --diff-color: #e0965b;
    --nav-font-color: #ffffff;
}
.micro {
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
}
.doc {
    --primary-color: #4f0a54;
    --light-color: #815e87;
    --lighter-color: #c7b9cd;
    --diff-color: #6c7d0e;
    --nav-font-color: #ffffff;
}
.middleware {
    --primary-color: #4f0a54;
    --light-color: #815e87;
    --lighter-color: #c7b9cd;
    --diff-color: #6c7d0e;
    --nav-font-color: #ffffff;
}
.doceng {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.mm {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.ds-rt {
    --primary-color: #407c96;
    --light-color: #9bbbcd;
    --lighter-color: #d6e1e9;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.mobicom {
    --primary-color: #407c96;
    --light-color: #9bbbcd;
    --lighter-color: #d6e1e9;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.ec {
    --primary-color: #4a5c70;
    --light-color: #828e9e;
    --lighter-color: #c9ced6;
    --diff-color: #ac936c;
    --nav-font-color: #ffffff;
}

.mobihoc {
    --primary-color: #4a5c70;
    --light-color: #828e9e;
    --lighter-color: #c9ced6;
    --diff-color: #ac936c;
    --nav-font-color: #ffffff;
}

.eics {
    --primary-color: #1975ae;
    --light-color: #8ec9ea;
    --lighter-color: #c4e2f4;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.mobisys {
    --primary-color: #1975ae;
    --light-color: #8ec9ea;
    --lighter-color: #c4e2f4;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.esem {
    --primary-color: #317f90;
    --light-color: #96c7d6;
    --lighter-color: #d9eaf0;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.mod {
    --primary-color: #317f90;
    --light-color: #96c7d6;
    --lighter-color: #d9eaf0;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.esweek {
    --primary-color: #154396;
    --light-color: #6e79b7;
    --lighter-color: #c5c6e2;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.mswim {
    --primary-color: #154396;
    --light-color: #6e79b7;
    --lighter-color: #c5c6e2;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.sigcse {
    --primary-color: #1975ae;
    --light-color: #79c6e2;
    --lighter-color: #b2d9e8;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.siggraph {
    --primary-color: #33461c;
    --light-color: #737d5f;
    --lighter-color: #c5c9bb;
    --diff-color: #7e495f;
    --nav-font-color: #ffffff;
}

.comm {
    --primary-color: #c5422c;
    --light-color: #ff8764;
    --lighter-color: #ffd6c5;
    --diff-color: #ffd6c5;
    --nav-font-color: #ffffff;
}

.ite {
    --primary-color: #c5422c;
    --light-color: #ff8764;
    --lighter-color: #ffd6c5;
    --diff-color: #ffd6c5;
    --nav-font-color: #ffffff;
}

.wsc {
    --primary-color: #c5422c;
    --light-color: #ff8764;
    --lighter-color: #ffd6c5;
    --diff-color: #ffd6c5s;
    --nav-font-color: #ffffff;
}

.conext {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}

.iticse {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.wsdm {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
}
.cpr {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.iui {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.www {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.cpsweek {
    --primary-color: #6c2500;
    --light-color: #9f684a;
    --lighter-color: #d9c0b0;
    --diff-color: #004830;
    --nav-font-color: #ffffff;
}
.jcdl {
    --primary-color: #6c2500;
    --light-color: #9f684a;
    --lighter-color: #d9c0b0;
    --diff-color: #004830;
    --nav-font-color: #ffffff;
}
.cscw {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.k-cap {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
}
.cse {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}
.kdd {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
}
.dac {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
}
.metrics {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
}
.debs {
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
}

.glsvlsi, .fse, .islped, .gecco, .gis, .iccad, .ih-n-mmsec, .nossdav, .etra, .pads, .pepm, .pldi, .podc, .plop, .uccs, .foga, .pact, .fpga, .npar,
.eurosys, .cgo, .bcb, .sac, .hpg, .sacmat, .ase, .icmi-mlmi, .spaa, .gpce, .popl, .group, .ppopp, .hotmobile, .recsys,
.hpdc, .sensys, .hri, .tallip, .ht, .sbcci, .sc, .i3d, .sca, .icac, .sensys, .acm-se, .ice, .slip, .ancs, .icer, .soda, .apgv, .icfp, .sosp,
.ase, .icmi-mlmi, .spaa, .asia-ccs, .icpe, .splash, .aspdac, .ics, .stoc, .asplos, .icse, .sui, .assets, .icuimc, .tei, .aus-ce, .ideas,
.ubicomp, .c-n-c, .imc, .uist, .ccs, .ir, .valuetools, .cf, .isca, .vrst, .chi, .ismm, .web3d, .cikm, .ispd, .websci, .codaspy, .issta, 
.wisec, .micro, .doc, .middleware, .doceng, .mm, .ds-rt, .mobicom, .ec, .mobihoc, .eics, .mobisys, .esem, .mod, .esweek, .mswim, .sigcse,
.siggraph, .comm, .ite, .wsc, .conext, .iticse, .wsdm, .cpr, .iui, .www, .cpsweek, .jcdl, .cscw {
    --nav-background-color: var(--primary-color);
    --proceeding-background: var(--primary-color);
    --banner-color: var(--primary-color);
    --logo-color: var(--primary-color);
    --badge-color: var(--primary-color);
    --dropdown-border-color: var(--light-color);
    --dropdown-background-color: var(--lighter-color);
}
