.cacm {
    --primary-color: #5f95b1;
    --light-color: #8ac6e4;
    --lighter-color: #bce5f8;
    --diff-color: #ffc682;
    --nav-font-color: #111111;
}

.cie {
    --primary-color: #51666f;
    --light-color: #7b97a2;
    --lighter-color: #c8d3d8;
    --diff-color: #b0997e;
    --nav-font-color: #ffffffde;
}

.elearn {
    --primary-color: #1d6aa0;
    --light-color: #6197bd;
    --lighter-color: #a0c1d7;
    --diff-color: #f99b20;
    --nav-font-color: #ffffffde;
}

.inroads {
    --primary-color: #4455a3;
    --light-color: #7083d9;
    --lighter-color: #b7c1ec;
    --diff-color: #efc050;
    --nav-font-color: #ffffffde;
}

.interactions {
    --primary-color: #4c4c4c;
    --light-color: #707070;
    --lighter-color: #e1e1e1;
    --diff-color: #76cbfc;
    --nav-font-color: #ffffffde;
}

.queue {
    --primary-color: #047552;
    --light-color: #45a69e;
    --lighter-color: #b5dbd8;
    --diff-color: #fe8544;
    --nav-font-color: #ffffffde;
	--banner: url(/specs/products/acm/releasedAssets/images/magazine-banner-inner--queue-colors.svg);
	--banner-sm: url(/specs/products/acm/releasedAssets/images/magazine-banner-mobile--queue-colors.svg);
}

.ubiquity {
    --primary-color: #607038;
    --light-color: #adc06a;
    --lighter-color: #dee6c3;
    --diff-color: #83477a;
    --nav-font-color: #ffffffde;
}

.xrds {
    --primary-color: #bd3a44;
    --light-color: #e5535e;
    --lighter-color: #f5babf;
    --diff-color: #52a633;
    --nav-font-color: #ffffffde;
}

.cacm, .cie, .elearn, .inroads, .interactions, .queue, .ubiquity, .xrds{
    --nav-background-color: var(--primary-color);
    --banner-color: var(--primary-color);
    --logo-color: var(--primary-color);
    --badge-color: var(--primary-color);
    --dropdown-border-color: var(--light-color);
    --dropdown-background-color: var(--lighter-color);
}