.sigir {
    --primary-color: #926e42;
    --light-color: #c69a2f;
    --lighter-color: #e0d02b;
    --diff-color: #304e62;
    --nav-font-color: #ffffff;
  }
  
  .sigada {
    --primary-color: #2f7d2f;
    --light-color: #79ba6f;
    --lighter-color: #dbecd4;
    --diff-color: #803838;
    --nav-font-color: #ffffff;
  }
  
  .sigarch {
    --primary-color: #005b6f;
    --light-color: #438b9f;
    --lighter-color: #b6ced6;
    --diff-color: #b35900;
    --nav-font-color: #ffffff;
  }
  
  .sigai {
    --primary-color: #3b6963;
    --light-color: #7c9795;
    --lighter-color: #c9d3d3;
    --diff-color: #e08f66;
    --nav-font-color: #ffffff;
  }
  
  .sigapp {
    --primary-color: #a02a1c;
    --light-color: #c2745d;
    --lighter-color: #e7c6b8;
    --diff-color: #457852;
    --nav-font-color: #ffffff;
  }
  
  .sigbio {
    --primary-color: #317f90;
    --light-color: #96c7d6;
    --lighter-color: #d9eaf0;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigevo {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
  }
  
  .siggraph {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
  }
  
  .sigcas {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
  }
  
  .sigchi {
    --primary-color: #8a5f0f;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #878896;
    --nav-font-color: #ffffff;
  }
  
  .sigbed {
    --primary-color: #9163aa;
    --light-color: #b497c6;
    --lighter-color: #e0d6eb;
    --diff-color: #91986d;
    --nav-font-color: #ffffff;
  }
  
  .sigcse {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
  }
  
  .siglog {
    --primary-color: #177e25;
    --light-color: #92cd8a;
    --lighter-color: #d9ebd3;
    --diff-color: #cc5650;
    --nav-font-color: #ffffff;
  }
  
  .sigda {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
  }
  
  .sigdoc {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
  }
  
  .sigecom {
    --primary-color: #037fa8;
    --light-color: #07a7d9;
    --lighter-color: #7fc3e1;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .siggraph {
    --primary-color: #33461c;
    --light-color: #737d5f;
    --lighter-color: #c5c9bb;
    --diff-color: #7e495f;
    --nav-font-color: #ffffff;
  }
  
  .sighpc {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .search-result--tile {
    --primary-color: #1975ae;
  }
  
  .sigite, .sigcite {
    --primary-color: #047e63;
    --light-color: #6cac9a;
    --lighter-color: #caddd5;
    --diff-color: #bd7345;
    --nav-font-color: #ffffff;
  }
  
  .sigkdd {
    --primary-color: #a0501b;
    --light-color: #c38761;
    --lighter-color: #e7cfbc;
    --diff-color: #116655;
    --nav-font-color: #ffffff;
  }
  
  .sigcse {
    --primary-color: #1975ae;
    --light-color: #79c6e2;
    --lighter-color: #b2d9e8;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigmetrics {
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
  }
  
  .sigmicro {
    --primary-color: #d53247;
    --light-color: #f16c6d;
    --lighter-color: #fbd6d0;
    --diff-color: #769f68;
    --nav-font-color: #ffffff;
  }
  
  .sigmis {
    --primary-color: #00509e;
    --light-color: #6b80ba;
    --lighter-color: #c4c9e3;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigspatial {
    --primary-color: #00509e;
    --light-color: #6b80ba;
    --lighter-color: #c4c9e3;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigmm {
    --primary-color: #318181;
    --light-color: #87c4c4;
    --lighter-color: #dff1f0;
    --diff-color: #e0965b;
    --nav-font-color: #ffffff;
  }
  
  .sigmobile {
    --primary-color: #c5422c;
    --light-color: #ff8764;
    --lighter-color: #ffd6c5;
    --diff-color: #ffd6c5;
    --nav-font-color: #ffffff;
  }
  
  .sigmod {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigaccess {
    --primary-color: #0068a7;
    --light-color: #5198c7;
    --lighter-color: #c1d9ec;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigops {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
  }
  
  .sigplan {
    --primary-color: #6c2500;
    --light-color: #9f684a;
    --lighter-color: #d9c0b0;
    --diff-color: #004830;
    --nav-font-color: #ffffff;
  }
  
  .sigcomm {
    --primary-color: #6c2500;
    --light-color: #9f684a;
    --lighter-color: #d9c0b0;
    --diff-color: #004830;
    --nav-font-color: #ffffff;
  }
  
  .sigsac {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
  }
  
  .sigsam {
    --primary-color: #8c5a2c;
    --light-color: #f1bd87;
    --lighter-color: #fbe5cf;
    --diff-color: #47879c;
    --nav-font-color: #ffffff;
  }
  
  .sigsim {
    --primary-color: #74767b;
    --light-color: #b4b7bf;
    --lighter-color: #d7dce8;
    --diff-color: #afaba1;
    --nav-font-color: #ffffff;
  }
  
  .sigsoft {
    --primary-color: #827429;
    --light-color: #c0b37e;
    --lighter-color: #e4dfca;
    --diff-color: #6c5f8d;
    --nav-font-color: #ffffff;
  }
  
  .sigact {
    --primary-color: #4f0a54;
    --light-color: #815e87;
    --lighter-color: #c7b9cd;
    --diff-color: #6c7d0e;
    --nav-font-color: #ffffff;
  }
  
  .siguccs {
    --primary-color: #cc1962;
    --light-color: #e7a6af;
    --lighter-color: #f2cfd3;
    --diff-color: #769466;
    --nav-font-color: #ffffff;
  }
  
  .sigweb {
    --primary-color: #407c96;
    --light-color: #9bbbcd;
    --lighter-color: #d6e1e9;
    --diff-color: #f3a34c;
    --nav-font-color: #ffffff;
  }
  
  .sigir,.sigada,.sigarch,.sigai, .sigapp,.sigbio,.sigevo,.siggraph,.sigcas,.sigchi,.sigbed,.sigcse,.siglog,.sigda,.sigdoc,.sigecom,.siggraph,
  .sighpc,.sigcite,.sigite,.sigkdd,.sigcse,.sigmetrics,.sigmicro,.sigmis,.sigspatial,.sigmm,.sigmobile,.sigmod,.sigaccess,.sigops,.sigplan,.sigcomm,
  .sigsac,.sigsam,.sigsim,.sigsoft,.sigact,.siguccs,.sigweb {
    --nav-background-color: var(--primary-color);
    --banner-color: var(--primary-color);
    --logo-color: var(--primary-color);
    --badge-color: var(--primary-color);
    --dropdown-border-color: var(--light-color);
    --dropdown-background-color: var(--lighter-color);
  }
  